.slider-background{
    background-color: pink;
}
.button-style{
    color: white !important;
    background-color: #E4193B !important;
}
.panda-bg{
    background-color:  lightpink;
    color: black;
}